.header-wrapper {
    display: grid;
    top: 64px;
    width: 100%;
    grid-template-columns: 100px auto 100px;
    color: #FFFFFF;
}
.header-content-left {
    font-family: "Chronicle Display";
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}

.header-content-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-content-right {
    
}

.header-center-container {
    display: flex;
    padding: 0% 2% 0% 2%;
}